<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        Scans the classpath for annotated components that will be auto-registered as Spring beans.
        By default, the Spring-provided @Component, @Repository, @Service, @Controller,
        @RestController, @ControllerAdvice, and @Configuration stereotypes will be detected.
    -->
    <context:component-scan base-package="com.ssm.common.web"/>

    <import resource="classpath:spring-validation.xml"/>
    <import resource="classpath:spring-i18n.xml"/>

    <!-- Enabling Shiro Annotations -->
    <aop:config proxy-target-class="true"/>

    <!-- Spring集成Shiro拦截异常信息实现跳转 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.apache.shiro.authz.UnauthenticatedException">redirect:/security/login</prop>
            </props>
        </property>
    </bean>

    <!-- 防止静态资源被拦截(DefaultServletHttpRequestHandler) -->
    <mvc:default-servlet-handler/>
    <!--<mvc:resources location="/assets/" mapping="/assets/**" />-->

    <!-- 配置视图解析器(物理视图=前缀+逻辑视图+后缀) -->
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/html/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5"/>
        <property name="cacheable" value="false"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <!--DispatcherServlet默认加载的映射器、适配器、视图解析器等组件参考org/springframework/web/servlet/DispatcherServlet.properties-->
    <!-- 自动注入RequestMappingHandlerMapping和RequestMappingHandlerAdapter -->
    <mvc:annotation-driven conversion-service="conversionService" validator="validator">
        <mvc:message-converters>
            <!-- JSON日期类型转换 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--配置注解映射器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
    <!--配置注解适配器(HandlerAdapter会把Handler包装为适配器从而支持多种类型的Handler处理器)-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <!--
    日期类型转换的三种方式:
    (1)在实体类中加日期格式化注解@DateTimeFormat(pattern = Constant.DATETIME_FORMAT);
    (2)定义一个实现Converter接口的全局日期类型转换器并在配置文件中进行配置;
    (3)使用@InitBinder注解.
    -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.ssm.common.web.servlet.converter.DateConverter"/>
            </set>
        </property>
    </bean>

    <!-- 配置JSON转换器(如果使用的是<mvc:annotation-driven />自动注入方式则不用配置) -->
    <!--
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/json;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    -->

    <!-- 配置文件上传解析器 -->
    <bean class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/>
    <!--
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20480"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    -->

    <!-- 配置拦截器: 多个拦截器顺序执行(/**表示拦截所有URL包括子URL路径) -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--<mvc:exclude-mapping path="/**/get*"/>-->
            <bean class="com.ssm.common.web.servlet.interceptor.AuditInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
