<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.act.core.mapper.extension.LeaveExtMapper">

    <select id="selectByApplicant" parameterType="string" resultType="hashMap">
        SELECT id AS id,
               days AS days,
               content AS content,
               apply_time AS applyTime,
               remark AS remark,
               status AS status,
               applicant AS applicant
          FROM process_leave
         WHERE applicant = #{applicant}
    </select>

    <select id="selectSelective" parameterType="map" resultType="hashMap">
        SELECT id AS id,
               days AS days,
               content AS content,
               apply_time AS applyTime,
               remark AS remark,
               status AS status,
               applicant AS applicant
          FROM process_leave
        <where>
            <if test="applicant!=null and applicant!=''">
                AND applicant = #{applicant}
            </if>
            <if test="status!=null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="selectPage" parameterType="com.ssm.common.base.page.Pageable" resultType="hashMap">
        SELECT id AS id,
               days AS days,
               content AS content,
               apply_time AS applyTime,
               remark AS remark,
               status AS status,
               applicant AS applicant
          FROM process_leave
        <where>
            <if test="param!=null">
                <if test="param.applicant!=null and param.applicant!=''">
                    AND applicant = #{param.applicant}
                </if>
                <if test="param.status!=null">
                    AND status = #{param.status}
                </if>
            </if>
        </where>
    </select>

</mapper>
